@import "reset";
@import "mixin";
@import "var";

html {
  scroll-behavior: smooth;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    @media only screen and (max-width: 767px){
        padding: 20px 0;
    }

    &__container {
        @include container();
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #BABBC5;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
            width: calc(100% - 30px);

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &__logo {
        display: flex;

        svg {
            max-width: 184px;
            width: 100%;
            height: 26px;
        }

        @media only screen and (max-width: 767px) {
            max-width: 103px;
            width: 100%;
        }
    }

    &__dropdown {
        display: none;

        @media only screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__nav {
        display: flex;

        @media only screen and (max-width:767px) {
            display: none;
        }
    }

    &__link {
        @include font(#FFF, $raleway, 13px, 700, 15.26px);
        padding: 36px 0;
        min-width: 134px;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s linear;
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid #BABBC5;
        }

        &:active {
            color: #E71414;
            border-bottom: 3px solid #E71414;
        }

        @media only screen and (max-width: 1024px) and (min-width:993px) {
            min-width: 114px;
            line-height: 14.09px;
        }

        @media only screen and (min-width: 768px) and (max-width: 992px) {
            min-width: 100px;
            line-height: 13px;
        }
    }
}

.banner {
    background: url(/src/assets/media/banner.png);
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0 auto 116px;
    padding: 230px 0 120px;

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
        padding: 257px 0 126px;
        margin-bottom: 78px;
    }

    @media only screen and (max-width: 767px) {
        padding: 106px 0 52px;
        margin-bottom: 40px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: #252B49;
    }

    &__container {
        @include container();
        position: relative;
        text-align: center
    }

    &__title {
        @include font(#FFF, $raleway, 64px, 900, 75.14px);
        text-transform: uppercase;
        margin-bottom: 32px;

        @media only screen and (max-width: 1024px)  and (min-width: 768px) {
            font-size: 48px;
            line-height: 56.35px;
            margin-bottom: 62px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 36px;
            line-height: 42.26px;
            margin-bottom: 33px;

        }
    }

    &__description {
        @include font(#FFF, $raleway, 24px, 400, 28.18px);
        max-width: 1000px;
        margin: 0 auto 80px;

        @media only screen and (max-width: 1024px)  and (min-width: 944px) {
            font-size: 18px;
            line-height: 21.13px;
            margin:0 auto 89px;
            max-width: 900px;
        }

        @media only screen and (max-width: 943px) and (min-width: 768px) {
            font-size: 18px;
            line-height: 21.13px;
            margin:0 auto 89px;
            max-width: 800px; 
        }

        @media only screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom:0 auto 49px;
        }
    }

    &__btn {
        @include btn();
    }
}

.features {
    margin-bottom: 116px;

    &__container {
        @include container();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 89px;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            row-gap: 50px;
        }

        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }

    }

    .feature {
        text-align: center;

        &__icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            margin-bottom: 29px;

            @media only screen and (max-width: 1024px) and (min-width: 768px) {
                width: 85px;
                height: 85px;
                margin-bottom: 23.5px;
            }

            @media only screen and (max-width: 767px) {
                width: 75px;
                height: 75px;
                margin-bottom: 21px;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            @include font(#2D3033, $raleway, 24px, 900, 28.18px);
            margin-bottom: 20.43px;
            text-transform: uppercase;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                @include font(#2D3033, $raleway, 18px, 900, 21.13px);
                padding: 20px;
                margin-bottom: 3.95px;
            }

            @media only screen and (max-width: 767px) {
                @include font(#2D3033, $raleway, 18px, 900, 21.13px);
                padding: 16px;
                margin-bottom: 0;
            }
        }

        &__description {
           @include font(#6C7279, $raleway, 18px, 400, 21.13px);

           @media only screen and (max-width: 1024px) {
                @include font(#6C7279, $raleway, 14px, 400, 16.44px); 
           }
        }
    }
} 

.works {
    margin-bottom: 114px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 35px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 1px;
        gap: 2px;
        @media only screen and (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .project {
        position: relative;
        padding-top: 100%;

        &__wrapper-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ff4343cc;
            transition: all 0.3s linear;

            &:hover {
                opacity: 1;
            }

            &:active {
                background-color: #b90c0ccc;
            }
        }

        &__title {
            @include font(#FFF, $raleway, 24px, 900, 28.18px);
            margin-bottom: 20.57px;
            text-transform: uppercase;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                @include font(#FFF, $raleway, 18px, 900, 21.13px);
                margin-bottom: 12.81px;
            }

            @media only screen and (max-width: 767px) {
                margin-bottom: 4.63px;
            }
        }

        &__description {
            @include font(#FFF, $raleway, 18px, 400, 21.13px);

            @media only screen and (max-width: 1024px) {
                @include font(#FFF, $raleway, 18px, 400, 16.44px);
            }
        }
    }
}

.team {
    margin-bottom: 114px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 35px;
    }

    &__container {
        @include container();
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        @media only screen and (max-width: 1024px) {
            column-gap: 25px;
        }

        @media only screen and (max-width: 767px) {
            row-gap: 49px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .member {
        &__wrapper-photo {
            margin-bottom: 30px;
            aspect-ratio: 1;
            display: flex;
            @media only screen and (max-width: 1024px) {
                margin-bottom: 27px;
            }
            
            @media only screen and (max-width: 767px) {
                margin-bottom: 28px;
            }
        }

        &__photo {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        &__info {
            margin-bottom: 37.86px;
            @media only screen and (max-width: 1024px) {
                margin-bottom: 39.2px;
            }

            @media only screen and (max-width:767px) {
                margin-bottom: 55.15px;
            }

        }

        &__name {
            @include font(#2D3033, $raleway, 24px, 700, 28.18px);
            text-transform: capitalize;
            margin-bottom: 5.29px;
            @media only screen and (max-width: 1024px) {
                font-size: 18px;
                line-height: 21.13px;
                margin-bottom: 4.6px;
            }
        }

        &__position {
            @include font(#FF4343, $raleway, 18px, 400, 21.13px);
            text-transform: uppercase;
            margin-bottom: 17.86px;
            @media only screen and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16.44px;
                margin-bottom: 22.45px;
            }

            @media only screen and (max-width: 767px) {
                margin-bottom: 38.49px;
            }
        }

        &__text {
            @include font(#6C7279, $raleway, 18px, 400, 21.13px);
            @media only screen and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16.44px;
            }
        }

        &__social-icon {
            display: inline-flex;
            & path {
            transition: all 0.5s linear;
            
                &:hover {
                    fill: blue;
                }
        
                &:active {
                    fill: #409bf0;
                }
            }
        }
    }
}

.testimonials {
    margin-bottom: 114px;
    padding-bottom: 45px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 77.51px;
        padding-bottom: 33px;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 45px;
        padding-bottom: 32px;
    }

    &__slide {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    &__wrapper-image {
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            aspect-ratio: 4/3;
        }
    }
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__info {
        padding: 130px 129px 116px;
        background-color:#5C3249;
        @media only screen and (max-width: 1024px) {
            padding: 60px 88px 110px;
        }

        @media only screen and (max-width: 767px) {
            padding: 20px 20px 95px;
        }

    }
    &__quote {
        @include font(#FFF, $cardo, 36px, 400, 48.74px);
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 17px;
        max-width: 471px;
        @media only screen and (max-width: 1024px) {
            @include font(#FFF, $cardo, 24px, 400, 32.5px);
            margin-bottom: 14px;
        }

        @media only screen and (max-width: 767px) {
            text-align: center;
            margin: 0 auto 23px;
        }
    }
    &__author {
        @include font(#FFF, $raleway, 13px, 700, 15.26px);
        text-transform: uppercase;
        max-width: 471px;
        @media only screen and (max-width: 1024px) {
            @include font(#FFF, $raleway, 12px, 700, 14.09px);
        }

        @media only screen and (max-width: 767px) {
            text-align: center;
            margin: 0 auto;
        }
    }

    & .swiper-pagination {
        display: flex;
        column-gap: 25px;
        justify-content: center;

        &-bullet {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid #7E5D6F;
            opacity: 1;
            transition: all 0.3s linear;
            @media only screen and (max-width: 1024px) {
                width: 9.5px;
                height: 9.5px;
            }

            &:hover {
                border: 3px solid #7E5D6F;
            }

            &-active {
                background-color: #7E5D6F;
            }
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }
}

.download {
    margin-bottom: 114px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 45px;
    }

    &__container {
        @include container();
        text-align: center;
    }

    &__title {
        @include font(#000, $raleway, 30px, 500, 35.22px);
        margin-bottom: 22px;
        @media only screen and (max-width: 1024px) {
            font-size: 24px;
            line-height: 28.18px;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 21.13px;
            margin-bottom: 30px;
        }
    }

    &__description {
        @include font(#000, $raleway, 18px, 700, 21.13px);
        text-transform: uppercase;
        margin-bottom: 47.71px;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 43.29px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 15px;
            line-height: 15.26px;
            margin-bottom: 15px;
        }
    }

    &__btn {
        @include btn();
    }
}

.footer {
    text-align: center;
    &__wrapper-info {
        background-color: #353C65;
        padding: 71px 0;
        @media only screen and (max-width: 1024px) {
            padding: 46.59px 0 41.19px;
        }

        @media only screen and (max-width: 767px) {
            padding: 34.14px 0;
        }
    }

    &__info-container {
        @include container();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        @media only screen and (max-width: 1024px) {
            column-gap: 20px;
        }

        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        @include font(#FFF, $raleway, 18px, 700, 21.13px);
        text-transform: uppercase;
        margin-bottom: 29px;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 17.72px;
        }

        @media only screen and (max-width: 767px) {
            margin-bottom: 36px;
        }
    }

    &__description {
        @include font(#FFF, $raleway, 18px, 400, 21.13px);
        text-transform: capitalize;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16.44px;
        }
    }

    & .location {
        @media only screen and (max-width: 767px) {
            margin-bottom: 69.24px;
        }
    }

    & .social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            margin-bottom: 59.05px;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        column-gap: 27px;
        @media only screen and (max-width: 1024px) {
            column-gap: 23px;
        }

        @media only screen and (max-width: 767px) {
            column-gap: 16.77px;
        }
    }

    &__social-icon {
        display: inline-flex;
        & path {
        transition: all 0.5s linear;
        
            &:hover {
                fill: #04ff00;
            }
    
            &:active {
                fill: #f0ea40;
            }
        }
    }

    &__wrapper-additional {
        display: flex;
        justify-content: center;
        background-color: #2C3154;
        padding: 23.86px 0 24.14px;
        @media only screen and (max-width: 1024px) {
            padding: 14.28px 0 14.43px;
        }

        @media only screen and (max-width: 767px) {
            padding: 29.86px 0 28.14px;
        }
    }

    &__additional-container {
        @include container();
    }

    & .additional__text {
        @include font(#808080, $raleway, 18px, 400, 21.13px);
        text-transform: capitalize;
        width: 100%;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16.44px;
        }

        @media only screen and (min-width: 1025px) {
            max-width: 370px;
        }

        @media only screen and (min-width: 768px)  and (max-width: 1024px){
            max-width: 314px;
        }
    }

    & .additional__text-highlighted {
        color: #FFF;
    }


}